<h1><%=  movie.Title %></h1>
<div class="details">    
    <p><%=  movie.Year %></p>
    <h4><%=  movie.Rated %></h4>
    <h6><%=  movie.Genre %></h6>
    <p><%=  movie.Director %></p>
</div>
<div class="movie-poster">
    <img src="<%= movie.Poster %>" />
</div>
<form method="POST" action="/favorites">
    <input hidden value="<%= movie.Title %>" name="title" />
    <input hidden value="<%= movie.imdbID %>" name="imdbid" />
    <input hidden value="<%= movie.Poster %>" name="poster" />
    <button type="submit" class="faves">Add to Favorites</button>
</form>