<h1 class="faves-title">Saved Favorites</h1>    



<% userFaves.forEach(fave => { %>
<div class="faves-elements">
    <div class="movie-poster_box">
            <h2><%= fave.title %></h2>
        <div class="movie-poster" >
            <img src="<%= fave.poster %>" />
        </div>
        <div class="details_button">
            <a href="/details/<%= fave.imdbid %>">details</a>
        </div>
        <div class="delete">
            <form method="POST" action="/favorites/<%= fave.id%>/?_method=DELETE">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
         
    <div class="comments-section">

        <div class="post-coments_box">
                <% allComments.forEach(comment => { %>
                    <% if (comment.faveId = fave.id) { %>
                        
                            <h3>Comment</h3>
                            <div class="post-comment_username">
                                <p> <%= comment.user_name %> </p>
                            </div>
                            <div class="post-comment_content">
                                <p> <%= comment.content %> </p>
                            </div>
                            <div class="delete">
                                <form method="POST" action="/favorites/<%= comment.id%>/?_method=DELETE">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                    <% } %>
                <% }) %>
            </div>  

        <div class="comment-box">
            <h3>Add a new comment:</h3>
            <form method="POST" action="/favorites/<%= fave.id%>">
                <input id="comment-username" type="text" name="user_name" placeholder="Username">
                <input id="comment-content" type="text" name="content" placeholder="Write your comment here...">
                <input hidden value="<%= fave.id %>" type="text" name="id">
                <button class="comment__button" type="submit">Submit</button>
            </form>
        </div>

        
         
    </div>
 </div>   
<% }) %>  




